<?xml version="1.0" encoding="UTF-8" ?>
<!-- 定义当前为xml文件 -->


<!-- 进行xml标签的格式校验  -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    mapper  数据库sql 映射的配置
        通常推荐一张数据表对应一个mapper文件
            如，UserMapper设置 和user表相关的所有的sql

         namespace  命名空间，可以自定义
                每一个sql对应一个id，为了保证id不重复
                哪怕id重复了，不同命名空间+ id 也一定不重复

                通常，namespace设置成河对应的mapper接口的全限定名保持一致
-->
<mapper namespace="com.rimi.mybatis.start.mapper.UserMapper">

     <!--
        select 标签 用来编写查询语句
            id  唯一id，同一mapper中不允许重复
            resultType  指明当前结果类型, 使用全限定名
     -->
      <select id="findAll" resultType="user">
          select * from book_sys_user
      </select>

      <insert id="addUser">
          insert into book_sys_user values(null,'luc','123','fdv','2019-05-19 21:23:12','2001-10-01 10:23:43','dsafsdafsad')
      </insert>
</mapper>