<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rimi.day03.mapper.UserMapper">
    <select id="findUsernameLike" resultType="User">
        select * from book_sys_user where username like concat('%'#{paraml},'%')
    </select>
    <select id="findAll" resultMap="">
        select * from book_sys_user
    </select>
</mapper>